/* common styles started */
body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 228px;
}


/* common styles end */
/* header style started  */
#header_logo {
    width: 200px;
    height: auto;
}

/* header style end  */
/* main style started  */

/* main style end  */
/* footer style started  */

/* footer style end  */