/* import font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/*------------------------------
------common styles started----- 
--------------------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 228px;
}

.button-style {
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.button-style:hover {
    border: 2px solid #FF900E;
    background-color: #ff8f0e00;
    color: #FF900E;
}

.standard-width {
    width: 50%;
}

/*-------------------------------
------- common styles end ------- 
---------------------------------*/


/*-------------------------------
------header style started-------  
---------------------------------*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #FFF4E7;

}

#header_logo {
    width: 200px;
    height: auto;
}

.menu-main li {
    list-style: none;
    margin-left: 40px;

}

.menu-main a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.menu-main ul {
    display: flex;
}

/*---------------------------- 
-------header style end-------  
------------------------------*/

/*--------------------------
----- main style started ---
---------------------------- */

/* site identity banner style started  */
.banner {
    background-color: #FFF4E7;
    padding-top: 10px !important;
    text-align: center;
}

.banner h1 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 25px;
}

.banner p {
    color: rgb(97, 97, 97);
    margin-bottom: 32px;
    line-height: 22px;
}

.banner img {
    width: 100%;
    height: auto;
    margin: 50px 0;
}

/* site identity banner style end --
-------------------------------------- */

/* feature list section style started */
.feature-list {
    display: flex;
    margin-top: 85px;
    align-items: center;
}

.feature-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    justify-content: space-between;
    padding: 36px;
}

.feature-images img {
    width: 100%;
    height: 100%;
}

.feature-content {
    padding: 36px;
}

.feature-content h1 {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}

.feature-content p,
ul {
    color: rgb(97, 97, 97);
    margin-bottom: 20px;
    line-height: 22px;
}


#featur-title-part1 {
    font-weight: 500;
    color: rgb(97, 97, 97);
}

#featur-title-part2 {
    color: #FF900E;
}

/* feature list section style end -----
--------------------------------------*/

/* feature details section style started  */
.architect-image {
    position: relative;
}

.architects-experience {
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    text-align: center;
    padding: 42px 46px;
    margin-top: -100px;
    position: absolute;
    bottom: -80px;
    left: -60px;
}

.architects-experience h1 {
    font-size: 65px;
    margin: 0 0 7px 0;

}

.architects-experience p {
    font-size: 25px;
    margin: 0;
}

#feature-details-heading {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 4px solid #FF900E;

}

.feature-details-contents {
    color: rgb(97, 97, 97);
    line-height: 22px;
}

.feature-details {
    padding-right: 150px;
}

.feature-details ul {
    list-style: none;
}

.feature-details h5 {
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.feature-details li>p {
    margin-top: 0;
    margin-bottom: 70px;
}

/* feature details section style end-----
-----------------------------------------  */

/* some facts section style started */
.some-fact-main {
    margin-top: 150px;
}

.some-fact-main h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
}

.some-fact-main p {
    color: rgb(97, 97, 97);
    line-height: 22px;
}

.facts-card-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 10px;
    margin-top: 80px;
    justify-items: center;
}

.facts-card {
    width: 241px;
    height: 241px;
    border: 2px solid #FF900E;
    ;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.facts-card h2 {
    font-size: 45px;
    font-weight: 500;
    margin: 10px;
}

.facts-card p {
    color: rgb(97, 97, 97);
    margin: 0;
}

/*---------------------------------
--- some facts section style end --*/


/* our sponsors section style started */
.our-sponsors {
    margin-top: 100px;
    text-align: center;
}

.our-sponsors img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.our-sponsors h1 {
    font-size: 45px;
    font-weight: 700;
    margin: 0;
}

.our-sponsors p {
    color: rgb(97, 97, 97);
    line-height: 22px;

}

.our-sponsors-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 10px;
    margin-top: 80px;
    justify-items: center;
}

/* our sponsors section style end */

/* clients feedback section style started */
.feedback {
    margin-top: 120px;
    margin-bottom: 100px;
}

.feedback h1 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.feedback p {
    color: rgb(97, 97, 97);
    line-height: 22px;
    text-align: center;
}

.feedback-card {
    height: 300px;
    width: 260px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.274);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid #FF900E;
    overflow: hidden;
}

.feedback-card h3 {
    margin-top: 8px;
    margin-bottom: 5px;
}

.feedback-card i {
    color: #FF900E;
    margin: 2px;
}

.facts-card p {
    margin-bottom: 0;
}

/* clients feedback section style end */

/*--------------------------
------ main style end ------
---------------------------- */

/* footer style started  */
footer {
    background-color: #FFF4E7;
}

footer p {
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

/* footer style end  */

/* media queries for responsive layout started*/

/* for devicec whose screen screen  maximum width 1500px */
@media screen and (max-width:1500px) {
    .container {
        padding: 0 50px;
    }
}

/* for large screen device(like desktop) maximum width 1200px */
@media screen and (max-width:1200px) {
    .feature-content h1 {
        font-size: 30px;
    }

    .feature-content p,
    ul {
        font-size: 14px;
    }

    .feature-list {
        flex-direction: column;
    }

    .standard-width {
        width: 100%;
    }

    #feature-details-heading {

        font-size: 30px;

    }

    .feature-details-contents {
        font-size: 14px;
    }

    .feature-details {
        padding: 20px;
    }

    .feature-details li>p {
        margin-top: 0;
        margin-bottom: 40px;
    }

    .architect-image-main {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .architect-image img {
        width: 100%;
    }

    .architects-experience {
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 300px;

    }

    .feature-details-main {
        margin-top: 0;
    }

    .some-fact-main h1 {
        font-size: 30px;

    }

    .facts-card-main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .our-sponsors h1 {
        font-size: 30px;
    }

    .our-sponsors-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .feedback h1 {
        font-size: 30px;

    }

}

/* for small screen device(like laptop) maximum width 1024px */
@media screen and (max-width:1024px) {
    .menu-main li {
        margin-left: 30px;
    }

    .button-style {
        padding: 10px 15px;
        font-size: 16px;
    }

    .banner h1 {
        font-size: 40px;
    }

    .banner p {
        font-size: 14px;
    }

    .facts-card-main {
        grid-template-columns: 1fr 1fr;
    }


    .our-sponsors img {
        width: 100px;
    }

}

/* for iPads & tablets maximum width 768px */
@media screen and (max-width:768px) {
    header {
        flex-direction: column;
        justify-content: center;
        padding-top: 30px !important;
    }

    .menu-main li {
        margin-left: 0;
        text-align: center;
        margin-bottom: 10px;
    }

    .menu-main ul {
        flex-direction: column;
    }

    .banner img {
        margin: 30px 0;
    }

    .architects-experience {
        width: 200px;
    }

    .architects-experience h1 {
        font-size: 45px;

    }

    .architects-experience p {
        font-size: 16px;
        margin: 0;
    }

    .facts-card-main {
        grid-template-columns: 1fr;
        gap: 20px;
        margin-top: 50px;
    }

    .our-sponsors-grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }


}

/* for mobile devices maximum width 480px */
@media screen and (max-width:480px) {
    .container {
        padding: 0 20px;
    }

    .banner h1 {
        font-size: 30px;
        margin-bottom: 15px;
        margin-top: 0;
    }

    .banner p {
        margin-bottom: 15px;
    }

    .feature-images {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .feature-content {
        padding: 0;
    }

    .architects-experience {
        width: 150px;
    }

    .architects-experience h1 {
        font-size: 35px;

    }

}



/* media queries for responsive layout end*/